.producto4, .producto3, .producto2, .producto1, iframe, input, textarea, button, .productoCarousel, .nosotrosImages img, .imagen img {
  border: 3px solid black;
  border-radius: 10px;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Inconsolata, monospace;
  font-size: large;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
  background-color: #87cefa;
  border-top: 3px solid #a1a1a1;
  border-bottom: 3px solid #a1a1a1;
  padding: 10px;
}

.logo {
  width: 70px;
}

header {
  font-size: larger;
  background-color: #00bfff;
}
header nav div .navbar-brand {
  max-width: 200px;
  font-family: Caveat;
  font-weight: 700;
  font-size: 2em;
}

footer {
  border: none;
  font-size: larger;
  background-color: #1e90ff;
}

.titulo {
  grid-area: titulo;
  text-align: center;
}

.precio {
  grid-area: precio;
  text-align: center;
}

.parrafo {
  grid-area: parrafo;
  text-align: center;
}
.parrafo p {
  width: 100%;
}

.botones {
  grid-area: botones;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.imagen {
  grid-area: imagen;
  border-left: 3px;
  align-self: center;
}
.imagen img {
  width: 100%;
  object-fit: contain;
  border-width: 2px;
}

.nosotrosImages img {
  width: 75%;
  margin: 20px;
  border-width: 2px;
}

.productoCarousel {
  grid-area: productoCarousel;
  align-self: center;
}

button {
  background-color: darkblue;
  border: none;
  color: white;
}

form {
  margin: 10px;
}

input, textarea {
  width: 95%;
  margin: 5px;
  display: block;
}

.contactIcons {
  font-size: 2rem;
}

iframe {
  width: 100%;
  height: 400px;
}

.nosotrosText {
  display: flex;
  flex-direction: column;
}

.nosotrosImages {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.producto4, .producto3, .producto2, .producto1 {
  display: flex;
  flex-direction: column;
  background-color: #a1a1a1;
  padding: 5px;
  margin: 5px;
}

.producto1 {
  grid-area: producto1;
}

.producto2 {
  grid-area: producto2;
}

.producto3 {
  grid-area: producto3;
}

.producto4 {
  grid-area: producto4;
}

@media screen and (min-width: 769px) {
  .indexGridContainer {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo imagen" "parrafo parrafo imagen" "botones botones imagen";
  }
}
@media screen and (max-width: 768px) {
  .indexGridContainer {
    display: grid;
    row-gap: 10px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo" "parrafo parrafo" "botones botones" "imagen imagen";
  }
}

@media screen and (min-width: 769px) {
  .productosGridContainer {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 4fr 3fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: "titulo titulo titulo" "productoCarousel producto1 producto2" "productoCarousel producto3 producto4";
  }
}
@media screen and (max-width: 768px) {
  .productosGridContainer {
    display: grid;
    grid-template-areas: "titulo titulo" "productoCarousel producto1" "productoCarousel producto2" "producto3 producto4";
  }
}
@media screen and (max-width: 480px) {
  .productosGridContainer {
    display: grid;
    grid-template-areas: "titulo" "productoCarousel" "producto1" "producto2" "producto3" "producto4";
  }
  .productosGridContainer .producto1, .productosGridContainer .producto2, .productosGridContainer .producto3, .productosGridContainer .producto4 {
    display: grid;
    align-content: center;
    grid-template-areas: "imagen titulo" "imagen precio";
  }
  .productosGridContainer .producto1 .tituloProducto, .productosGridContainer .producto2 .tituloProducto, .productosGridContainer .producto3 .tituloProducto, .productosGridContainer .producto4 .tituloProducto {
    align-self: center;
    grid-area: titulo;
  }
  .productosGridContainer .producto1 .precioProducto, .productosGridContainer .producto2 .precioProducto, .productosGridContainer .producto3 .precioProducto, .productosGridContainer .producto4 .precioProducto {
    align-self: center;
    grid-area: precio;
  }
  .productosGridContainer .producto1 img, .productosGridContainer .producto2 img, .productosGridContainer .producto3 img, .productosGridContainer .producto4 img {
    grid-area: imagen;
  }
}

@media screen and (min-width: 769px) {
  .serviciosGridContainer {
    display: grid;
    margin: 10px;
    grid-template-columns: 3fr 3fr 4fr;
    grid-template-rows: auto;
    grid-template-areas: "titulo precio imagen" "parrafo parrafo imagen";
  }
}

@media screen and (min-width: 769px) {
  .nosotrosContainer {
    display: flex;
    flex-direction: row;
  }
  .nosotrosContainer .nosotrosText {
    width: 60%;
  }
  .nosotrosContainer .nosotrosImages {
    width: 60%;
  }
}

/*# sourceMappingURL=styles.css.map */
