body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Inconsolata, monospace;
    font-size: large;
}

header {
    font-size: larger;
}

footer {
    border: none;
    font-size: larger;
}

main {
    flex-grow: 1;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
}

.navbar-brand {
    max-width: 200px;
}

.marca {
    font-family:Caveat;
    font-weight: 700;
    font-size: 2em;
}

.logo {
    width: 70px;
}

.imagenesExtra {
    width: 30%;
}

p {
    width: 60%;
}

ul {
    list-style-type: none;
}

button {
    background-color: darkblue;
    border: none;
    color: white;
    font-size: 16px;
}


header {
    background-color: deepskyblue;
}

main {
    background-color: lightskyblue;
}

footer {
    background-color: dodgerblue;
}
/*REORGANIZAR EL CODIGO PARA QUE SEA MAS LEGIBLE*/  

nav {
    color: firebrick;
}