button {
    background-color: darkblue;
    @extend %border;
    border: none;
    color: white;
}

form {
    margin: 10px;
}

input, textarea {
    @include size(95%);
    @extend %border;
    margin: 5px;
    display: block;
}

.contactIcons {
    font-size: 2rem;
}

iframe {
    @include size(100%, 400px);
    @extend %border;
}

.nosotrosText {
    display: flex;
    flex-direction: column;
}

.nosotrosImages {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

%productoBase {
    display: flex;
    flex-direction: column;
    background-color: #a1a1a1;
    padding: 5px;
    margin: 5px;
    @extend %border;
}

@for $x from 1 through 4 {
    .producto#{$x} {
        grid-area: producto#{$x};
        @extend %productoBase;
    }
}

@for $a from 1 through 8 {
    .anim#{$a} {
        transform: scale(1) rotate(0);
        transition: 1s;
    }
    
    .trigger#{$a}:hover > .anim#{$a} {
        transform: scale(1.2) rotate(-5deg);
    }
}