.indexMain {
    align-content: center;
}

button {
    background-color: darkblue;
    @extend %border;
    border: none;
    color: white;
}

form {
    margin: 10px;
}

input, textarea {
    @include size(95%);
    @extend %border;
    margin: 5px;
    display: block;
}

.contactIcons {
    font-size: 2rem;
}

iframe {
    @include size(100%, 400px);
    @extend %border;
}

.col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nosotrosText {
    display: flex;
    flex-direction: column;
}

.nosotrosImages {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: #333;
    border-radius: 5px;
}

.precioProducto {
    font-size: large;
}

.oferta {
    font-size: x-large;
}

%productoBase {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 5px;
    @extend %border;
    img {
        max-width: 100%;
    }
}

@for $x from 0 through 4 {
    .producto#{$x} {
        grid-area: producto#{$x};
        @extend %productoBase;
        margin: 5px;
    }
}

.anim {
    transform: scale(1) rotate(0);
    transition: 1s;
}

.trigger:hover > .anim {
    transform: scale(1.05) rotate(-3deg);
}
