header {
    position: sticky;
    top: 0;
    z-index: 2;
    font-size: larger;
    background-color: #00bfff;
    border-bottom: 3px solid $edgesColor;

    nav div .navbar-brand {
    max-width: 200px;
    font-family:Caveat;
    font-weight: 700;
    font-size: 2em;
    }
}
