body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Inconsolata, monospace;
    font-size: large;
    overflow-x: hidden;
    background-image: linear-gradient($headerColor, $backgroundColor, $footerColor);
    background-attachment: local;
}

main {
    flex-grow: 1;
    padding: 10px;
}

.logo {
    width: 70px;
}