body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:Inconsolata, monospace;
    font-size: large;
    overflow-x: hidden;
}

main {
    flex-grow: 1;    
    background-color: $backgroundColor;
    border-top: 3px solid $edgesColor;
    border-bottom: 3px solid $edgesColor;
    padding: 10px;
}

.logo {
    width: 70px;
}